
h4.heading{
  text-align:center;
  text-transform: capitalize;
}
a img.card-img-top{
    height:27rem;
}
a.list-group-item:hover,a.list-group-item:active{
    font-size:1.1rem;
    font-weight:bold;
    text-decoration: none;
}
a.list-group-item:active{
  color:red;
}
.carousel-item{
 text-align:center;
}
.carousel-item .d-block{
  width:75%;
   height:35rem;
   margin:0px auto;
  
}
